/*|| reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*|| VARIABLES */
:root {
    /* color */
    --bgcolor:#475569;
    --alt-bgcolor:#1f2915;
}


/*|| GENERAL STYLES */
body {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    
    background-color: var(--bgcolor);
    background-image: radial-gradient(whitesmoke, );
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header,
footer {
    position: sticky;
    background-color: var(--alt-bgcolor);
    color: whitesmoke;
}

header {
    top: 0;
}

nav {
    background-color: whitesmoke;
    color: #000;
    padding: 1.5rem;
    border-bottom: 2px solid #000;
}

main {}
footer {}